*{
	margin: 0;
	padding: 0;
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial", sans-serif;
}

#nav-top {
	position: fixed;
    background-color: #333;
    opacity: .9;
	width: 100%;
	z-index: 9999;
}

#nav-top ul{
	list-style: none;
	display: table;
    margin: 0 auto;
	overflow: hidden; 
}
#nav-top ul li{ display: inline; }

#nav-top ul li a{
	color:white;
	font-size: 15px;
	float: left;
	text-decoration: none;
	padding: 15px 40px;
	margin-right: 1px;
	transition: color 0.4s;
}

#nav-top ul li a:hover{
	
	color:gray;
}

#nav-top img{
    float: left;
    
    width: 105px;
    padding: 11px 40px;
    transition: opacity 0.4s;
}
#nav-top img:hover{
    cursor: pointer;
    opacity: .5;
}


@media screen and (max-width: 860px) {
	#nav-top ul, #nav-top ul li, #nav-top img{ display: block; }
	
	#nav-top ul li{ 
		border-bottom: 2px solid #798881;
		overflow:hidden;
		width: 100%;
	}
	
	#nav-top ul li a{ 
	text-align: center;
	margin-left: -15px;
	width: 100%; 
	}
	
	#nav-top img{
	    PADDING-LEFT: 52%;
        
    }


}