@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
 background-color:#f7f7f7f7;
  object-fit: fill;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

html, body{
  height: 100%;
}

.titulos {
  color: rgb(41, 41, 41); 
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  padding-top: 30px;
  font-size: 100px; 
  font-weight: 700;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

.divApresentacao{
  background-color: #f7f7f7f7;
  height: 700px;
  width: 100%;
  margin: auto;
  max-width: 100%;
  height: auto;
  position: relative;
}

.footer{
  bottom: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #333333
}
.divMae{
  background-color: white;
}
.imgApr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}

.divSplit{
  display: inline;
  /*display: flex;*/
  justify-content: center
}

.imgEsquerda{
  padding-right:8px;
}

.imgDireita{
  padding-left:8px;
}

.imgEsquerda:hover{
  cursor: pointer;
}

.imgDireita:hover{
  cursor: pointer;
}
