.body{
    background-color: #f7f7f7f7;
}

.formulario{
    margin:auto;
    
    padding-top: 20px;
    position:static;
    padding-left: 50px;
    height: 100%;
    width: 450px;
    
}
p{
    color: rgb(41, 41, 41); 
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    padding-top: 30px;
    font-size: 40px; 
    font-weight: 700;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
  }


  
.ajudante{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    background-color: #f7f7f7f7;
}
input{
    height: 40px;
    width: 400px;
    padding-left: 15px;
    border-radius: 5px; 
    border-style: solid;
    border-color: #adadad;
    border-width: 1px; 
    background-color:#fdfdfdf7;
   
}

label{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td{
    margin-top:10px;
    padding-top:15px;
}

.bLogin{

}

